body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

h1 {
    color: 	#6CE085;
}

.kleur1 {
    background-color: #6CE085;
    width: 250px;
    margin-top: 5px;
}

.kleur3 {
    background-color: #29293a;
    width: 250px;
    margin-top: 5px;
}

.kleur4 {
    background-color:#a5a5b5 ;
    width: 250px;
    margin-top: 5px;
}

.kleursamenstelling {
    color: white;
    text-align: center;
}

.verloop {
   background:  linear-gradient(#6CE085, #d3d800);
   width: 250px;
   margin-top: 5px;
}

.knop {
    background-color: #6CE085;
    padding: 7px 123px 7px 123px;
    color: white;
    border-radius: 10px;
}

.knop:hover {
    background-color: white;
    padding: 7px 123px 7px 123px;
    color: #6CE085;
    border-radius: 10px;
    border: 2px #6CE085 solid;
}